@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html {
    width: 100vw;
    height: 100vh;
}
main {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: pink;
}
#tabuleiro {
    width: 800px;
    height: 800px;
    position: absolute;
    top: 5px;
    left: 20%;
    border: 1px solid black;

}

.linha {
    width: 100%;
    display: flex;
}
.h1 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.black {
    background-color: green;
}
.white {
    background-color: white;
}